.logo {
  width: 150px;
  height: auto; 
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: 10px;
}

#imagen{
  text-align: right;
}

#botonesLogin{
  text-align: center; 
  padding-top: 30px; 
  padding-bottom: 10px;
}