@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.5s;
}

#loginUsuario{
  padding-top: 40px;
  padding-right: 10px; 
  padding-left: 10px;
}

#botonesLogin{
  text-align: center; 
  padding-top: 10px; 
  padding-bottom: 10px;
}

.boton-accion {
  margin-top: 30px;
  margin-right: 10px;
}

.logo {
  width: 150px;
  height: auto; 
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: 10px;
}

#imagen{
  text-align: right;
}