h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 2.5rem;
}

h6{
    text-align: center;  
}


ion-input{
    padding-top: auto;
}

#loginUsuario{
    padding-right: 10px; 
    padding-left: 10px;
}

#loginContrasena{
    padding-right: 10px; 
    padding-left: 10px;
}

#botonesLogin{
    text-align: center; 
    padding-top: 30px; 
    padding-bottom: 10px;
    
}