<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <div id="imagen">
      <ion-img src="assets/DUOC.png" alt="Logo de la aplicación" class="logo"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div style="padding-top: 45px;">
    <ion-card class="centered-card">
      <ion-card-content>
        <ion-img src="assets/frame.png" alt="Logo de la aplicación" class="logo"></ion-img>
      </ion-card-content>
    </ion-card>
  </div>
  
  
  <div id="botonesLogin" >
    <button mat-raised-button style="background-color: #ffc845; color: white;" (click)="play()">Generar Lista no disponible</button>
  </div>

  <!--
  <ion-button expand="full" (click)="generarListaQR()">Generar Lista</ion-button> para mi referecia futura :B
  -->
</ion-content>