<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <div id="imagen">
      <ion-img src="assets/DUOC.png" alt="Logo de la aplicación" class="logo"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding background">

    <div id="loginUsuario">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="username" maxlength="10" minlength="3" clearInput></ion-input>
      </ion-item>
    </div>

    <div id="loginContrasena">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" maxlength="12" minlength="4" clearInput></ion-input>
      </ion-item>
    </div>  

    <div id="botonesLogin">
      <button mat-raised-button style="background-color: #ffc845; color: white;"
      (click)="login()">Ingresar</button>
    </div>

    <div id="botonesLogin">
      <a routerLink="/camb-contr" id="olvidasteContrasena">¿Olvidaste la contraseña?</a>
    </div>
</ion-content>