ion-input{
    padding-top: auto;
}

#loginUsuario{
    padding-top: 40px;
    padding-right: 10px; 
    padding-left: 10px;
}

#loginContrasena{
    padding-top: 40px;
    padding-right: 10px; 
    padding-left: 10px;
}

#botonesLogin{
    text-align: center; 
    padding-top: 30px; 
    padding-bottom: 10px;
}

.logo {
    width: 150px;
    height: auto; 
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 10px;
  }
  
  #imagen{
    text-align: right;
  }
