
#botones {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

#botonUno{
  padding-bottom: 20px;
}

button{
  width: 200px;
}

.background{
  --ion-background-color: #1D1D1D;
}

.logo {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
}

#imagen{
  text-align: center;
}

ion-header{
  background-color: #666666;
}

