<ion-header>
  <div id="imagen">
    <ion-img src="assets/DUOC.png" alt="Logo de la aplicación" class="logo"></ion-img>
  </div>
  </ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="botones">
    <div id="botonUno">
      <button mat-raised-button style="background-color: #ffc845; color: #1D1D1D;"
      (click)="redirigirALogin()">ALUMNO</button>
    </div>
    <div id="botonDos">
      <button mat-raised-button style="background-color: #ffc845; color: #1D1D1D;" (click)="redirigirALoginDocente()">DOCENTE</button>
    </div>    
  </div>
</ion-content>