<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido a tu página de inicio</strong>
    <p>Selecciona una opción:</p>
    <div>
      <div id="botonesLogin">
        <button mat-raised-button color="primary" (click)="navigateToExperience()">
          Experiencia Laboral</button>
      </div>

      <div id="botonesLogin">
        <button mat-raised-button color="primary" (click)="navigateToCertifications()">
          Certificaciones</button>
      </div>

      <div id="botonesLogin">
        <button mat-raised-button color="primary" (click)="navigateToMyData()">
          Mis Datos </button>
      </div>

      <div id="botonesLogin">
        <button mat-raised-button color="primary" (click)="logout()">
          Cerrar Sesión </button>
      </div>
    </div>
  </div>
</ion-content>
